{{- if .Site.Params.authorbox }}
  {{- with .Site.Params.author }}
    {{- if or .avatar .name .bio }}
      <div class="authorbox authorbox--centered">

        {{- with .name }}
          <div class="authorbox__name">{{ T "authorbox_name" (dict "Name" .) }}</div>
        {{- end }}

        {{- with .avatar }}
          <figure class="authorbox__avatar">
            <a href="/about" title="About the author">
              <img alt="{{ $.Site.Params.author.name }} avatar" src="{{ . | relURL }}" class="avatar" height="90" width="90">
            </a>
          </figure>
        {{- end }}

        {{- with .bio }}
          <div class="authorbox__description">
            {{ . | markdownify }}
          </div>
        {{- end }}

      </div>
    {{- else }}
      <p class="authorbox__warning">
        <strong>WARNING:</strong> Authorbox is activated, but author parameters are not specified.
      </p>
    {{- end }}
  {{- end }}
{{- end }}
