{{- if .Param "authorbox" }}
{{- with .Site.Params.author }}
<div class="authorbox-custom">

  {{- with .name }}
  <h4 class="authorbox-custom__name">{{ . }}</h4>
  {{- end }}

  {{- with .avatar }}
  <div class="authorbox-custom__avatar">
    <img alt="{{ $.Site.Params.author.name }} avatar" src="{{ . | relURL }}" />
  </div>
  {{- end }}

  {{- with .bio }}
  <p class="authorbox-custom__bio">
    {{ . | markdownify }}
  </p>
  {{- end }}

  <div class="authorbox-custom__readmore">
    <a href="{{ "about" | relURL }}" class="btn-circle">קרא עוד</a>
  </div>

</div>
{{- end }}
{{- end }}
