{{- with .Site.Params.author }}
  {{- if or .avatar .name .bio }}
    <div class="widget custom-authorbox">
      {{- with .name }}
        <h4 class="custom-authorbox__name">{{ . }}</h4>
      {{- end }}

      {{- with .avatar }}
        <div class="custom-authorbox__avatar">
          <a href="/about">
            <img src="{{ . | relURL }}" alt="{{ $.Site.Params.author.name }} avatar" height="170" width="150">
          </a>
        </div>
      {{- end }}

      {{- with .bio }}
        <div class="custom-authorbox__bio">
          {{ . | markdownify }}
        </div>
      {{- end }}
    </div>
  {{- end }}
{{- end }}
