{{ define "main" }}
<main class="main" role="main">

  {{/* חיפוש אחר תמונת הירו ב-Page Resources */}}
  {{ $image := .Resources.GetMatch "hero.jpg" }}
  {{ if $image }}
    <img src="{{ $image.RelPermalink }}" alt="{{ $.Title }}" style="width:100%; height:auto; display:block; margin-bottom: 20px;">
  {{ else if .Params.image }}
    {{/* פתרון גיבוי למקרה שהתמונה אינה ב-Page Bundle אלא בתיקיית static (אם השארת את זה ב-config.toml) */}}
    <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" style="width:100%; height:auto; display:block; margin-bottom: 20px;">
  {{ end }}

  <article class="post">
    <header class="post__header">
      <h1 class="post__title">{{ .Title }}</h1>
      {{- with .Params.lead }}
      <p class="post__lead">{{ . }}</p>
      {{- end }}
      {{ with partial "post_meta.html" . -}}
      <div class="post__meta meta">{{ . }}</div>
      {{- end }}
    </header>
    {{ partial "post_thumbnail.html" (dict "class" "post" "page" .) }}
    {{- partial "post_toc.html" . -}}
    <div class="content post__content clearfix">
      {{ .Content }}
    </div>
    {{- if .Params.tags }}
    <footer class="post__footer">
      {{ partial "post_tags.html" . }}
    </footer>
    {{- end }}
  </article>

</main>
{{ partial "authorbox.html" . }}
{{ partial "pager.html" . }}
{{ partial "comments.html" . }}
{{ end }}