{{ define "main" }}
<main class="main" role="main">
  <article class="post">
    <header class="post__header">
      <h1 class="post__title">{{ .Title }}</h1>
      {{- with .Params.lead }}
      <p class="post__lead">{{ . }}</p>
      {{- end }}
      {{ with partial "post_meta.html" . -}}
      <div class="post__meta meta">{{ . }}</div>
      {{- end }}
    </header>
    {{ partial "post_thumbnail.html" (dict "class" "post" "page" .) }}
    {{- partial "post_toc.html" . -}}
    <div class="content post__content clearfix">
      {{- $content := .Content -}}

      {{- range $tag := .Site.Taxonomies.tags -}}
          {{- $tagName := $tag.LinkTitle -}}
          {{- $tagPermalink := $tag.Permalink -}}

          {{- /* בניית ביטוי רגולרי לחיפוש התגית בתוכן הפוסט. */ -}}
          {{- $regex := printf "(?i)\\b%s\\b" (urlquery $tagName) -}}

          {{- /* בניית מחרוזת הקישור בפורמט HTML */ -}}
          {{- $link := printf "<a href=\"%s\">%s</a>" $tagPermalink $tagName -}}

          {{- /* ביצוע ההחלפה */ -}}
          {{- $content = replaceRE $regex $link $content -}}
      {{- end -}}

      {{- $content | safeHTML -}}
    </div>
    {{- if .Params.tags }}
    <footer class="post__footer">
      {{ partial "post_tags.html" . }}
    </footer>
    {{- end }}
  </article>
</main>

{{ partial "pager.html" . }}
{{ partial "comments.html" . }}
{{ end }}
