<!-- layouts/partials/custom-header.html -->
<header class="custom-site-header">
    <div class="custom-top-bar">
                       <a href="tel:054-7509962" class="custom-call-button">התקשרו  054-750-9962</a>
        <a href="/contact/" class="custom-appointment-button">שלחו לי הודעה </a>
    </div>

    <div class="custom-main-header">
        <a href="{{ .Site.BaseURL }}" class="custom-logo-link">
            <div class="custom-logo-wrapper">
                <img src="/img/logo.png" alt="{{ .Site.Title }} Logo" class="custom-logo-image">
                <div class="custom-logo-text">
               </div>
            </div>
        </a>

        <nav class="custom-main-nav">
            <button class="custom-menu-toggle" aria-controls="custom-menu-list" aria-expanded="false" tabindex="0">
                <span class="custom-menu-toggle-text">{{ T "menu_label" }}</span>
                <div class="custom-hamburger-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <ul id="custom-menu-list" class="custom-menu-list">
                {{- $currentNode := . }}
                {{- range .Site.Menus.main }}
                <li class="custom-menu-item{{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} custom-menu-item--active{{ end }}">
                    <a class="custom-menu-link" href="{{ .URL }}">
                        {{ .Pre }}
                        <span class="custom-menu-text">{{ .Name }}</span>
                        {{ .Post }}
                    </a>
                </li>
                {{- end }}
            </ul>
        </nav>
    </div>
</header>
