<footer class="bg-tlgray-100">
  <div class="flex items-center justify-between flex-wrap bg-gray-800 p-8 text-white">
    <div class="items-center text-xl text-grey-900 mr-6">
      {{ .Site.Params.site.name }}
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto" id="mobileMenu">
      <div class="text-lg lg:flex-grow">
      </div>
      <div class="flex flex-row items-center text-lg">
        {{ range .Site.Menus.footer }}
        <a href="{{ .URL }}" class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-8">
          {{ if not .Pre }}
          {{ .Name }}
          {{ else }}
          {{ .Pre }}
          {{ end }}
        </a>
        {{ end }}
      </div>
    </div>
    <div class="search-form-container mx-auto my-5 max-w-6xl px-4 w-full">
        <form action="{{ "search/" | relURL }}" method="get" class="flex items-center justify-center">
            <input type="search" name="q" id="search-query" placeholder="חיפוש באתר..." class="p-2 border rounded-md w-full bg-gray-700 text-white placeholder-gray-400">
            <button type="submit" class="ml-2 p-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">חפש</button>
        </form>
    </div>
  </div>
  <div class="copy pl-8 py-5 bg-tlgray-700 text-white text-md">
    &copy; {{site.Title}} {{ now.Year }} All Rights Reserved.
  </div>
</footer>