
    <div class="footer__column">
        <h3>משאבים</h3>
        <ul>
            <li><a href="#">בלוגים</a></li>
            <li><a href="#">סרטונים</a></li>
            <li><a href="#">מאמרים</a></li>
            <li><a href="#">שאלות נפוצות</a></li>
            <li><a href="#">התמחויות מקומיות</a></li>
            <li><a href="#">מיקומי טלרפואה</a></li>
        </ul>
    </div>
    <div class="footer__column footer__column--contact">
        <h3>צור קשר ותמיכה</h3>
        <p>לתיאום: 054-4509962</p>
        <p class="footer__emergency-text">לעזרה מיידית התקשר או שלח הודעה לקו החירום למשברים ב-988. אם זה מצב חירום חייג 911.</p>
        <a href="#" class="btn footer__patient-portal-btn">פורטל מטופלים</a>

        <div class="footer__signup-form">
            <p>הירשם לקבלת טיפים מועילים ועדכונים חשובים מ-aaaaaa</p>
            <form>
                <input type="email" placeholder="אימייל" aria-label="הזן את האימייל שלך" class="footer__email-input">
                <button type="submit" class="footer__subscribe-btn">הרשמה</button>
            </form>
        </div>
    </div>
</div>
<div class="footer__bottom-row">
    <div class="footer__logo">
        <img src="/img/logo.png" alt="עמיר אייל פסיכותרפיה והדרכת הורים לוגו">
        <span class="footer__logo-text">עמיר אייל פסיכותרפיה</span>
    </div>
    <div class="footer__copyright">
        &copy; {{ now.Format "2006" }} {{ .Site.Params.copyright | default .Site.Title }}.
        <span class="footer__copyright-credits">{{ T "footer_credits" | safeHTML }}</span>
    </div>
    <ul class="footer__social-icons">
      <li><a href="https://wa.me/972547509962" aria-label="וואטסאפ" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
               <li><a href="mailto:amir@amireyal.co.il" aria-label="מייל"><i class="fas fa-envelope"></i></a></li>
        <li><a href="tel:0547509962" aria-label="טלפון נייד"><i class="fas fa-phone"></i></a></li>
    </ul>
</div>
