{{/* שליפת התמונה (thumbnail.jpg -> hero.jpg) */}}
{{ $thumb := .page.Resources.GetMatch "thumbnail*" }}
{{ if not $thumb }}
  {{ $thumb = .page.Resources.GetMatch "hero*" }}
{{ end }}

{{ if $thumb }}
  {{/* alt ברירת מחדל */}}
  {{ $alt := .page.Title }}

  {{/* אם יש פרמטר alt מותאם */}}
  {{ with .page.Params.thumbnail }}
    {{ if (reflect.IsMap .) }}
      {{ with .alt }}
        {{ $alt = . }}
      {{ end }}
    {{ end }}
  {{ end }}

  <div class="{{ .class }}__thumbnail post__thumbnail">
    <a href="{{ .page.RelPermalink }}">
      <img src="{{ $thumb.RelPermalink }}" alt="{{ $alt }}" loading="lazy">
    </a>
  </div>
{{ end }}
