<section class="services-section" dir="rtl">
    <h2 class="section-title">השירותים שלי</h2>
    <div class="services-grid">
        {{ range .Site.Data.services }}
        <div class="service-item">
            <div class="service-img"><img src="{{ .image | relURL }}" alt="{{ .alt }}"></div>
            <div class="service-text">
                <h3>{{ .title }}</h3>
                <p>{{ .description }}</p>
                <a href="{{ .link | relURL }}" class="custom-link">{{ .linkText }}</a>
            </div>
        </div>
        {{ end }}
    </div>
</section>
