<!DOCTYPE html>
<html lang="he" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <meta name="description" content="{{ .Site.Params.description }}" />
  <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
  <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
  <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
  <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
  <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
  <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
  <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
  <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
  {{- partial "head.html" . -}}
</head>

<body>
  {{- partial "alert.html" . -}}
  {{- partial "header.html" . -}}

  <button class="scroll-top rounded-full" aria-label="גלול לראש הדף" title="גלול לראש הדף" style="position: fixed; bottom: 20px; left: 20px; z-index: 999;">
    <span class="icon-keyboard_arrow_up text-2xl"></span>
  </button>

  {{- partial "slide.html" . -}}
  {{- partial "strip.html" . -}}

  {{ if .Site.Params.showBlog }}
  <div class="mx-auto my-10 max-w-6xl px-4">
    <h2 class="text-4xl mb-4">בלוג</h2>
    {{- partial "recent.html" . -}}
  </div>
  {{ end }}

  {{- partial "footer.html" . -}}

  <script src="{{ "/js/swiper-bundle.min.js" | relURL }}"></script>
  <script>
    var mySwiper = new Swiper(".swiper-container", {
      direction: "horizontal",
      loop: true,
      speed: 550,
      autoplay: {
        delay: 6000,
      },
      pagination: {
        el: ".swiper-pagination",
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });

    // גלילה למעלה בלחיצה על הכפתור
    document.querySelector(".scroll-top").addEventListener("click", function () {
      window.scrollTo({ top: 0, behavior: "smooth" });
    });
  </script>
</body>

</html>

