<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" dir="{{ if eq .Site.Language.LanguageDirection "rtl" }}rtl{{ else }}ltr{{ end }}">

<head>
  {{- partial "head.html" . -}}
  {{ block "meta_tags" . }}{{ end }}
</head>

<body class="flex flex-col min-h-screen">
  {{- partial "header.html" . -}}

  <main class="flex-grow">
    {{- block "main" . }}{{- end }}
  </main>

  {{- partial "footer.html" . -}}

  <!-- כפתור חזור למעלה -->
  <div class="scroll-top rounded-full">
    <span class="icon-keyboard_arrow_up text-2xl"></span>
  </div>
</body>

</html>
